.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6.9vw;

  @media (min-width: 1440px) {
    padding: 0 100px;

    &--big-tb-padding {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media (max-width: 1024px) {
    padding: 0 28px;
  }

  @media (max-width: 744px) {}

  @media (max-width: 540px) {
    padding: 0 12px;
  }
}

img {
  display: block;
}

button {
  all: unset;
}

svg {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}