.rating {
  display: flex;
  align-items: center;

  color: #939393;

  &::before {
    content: "";

    display: block;
    order: -1;
    width: 16px;
    height: 16px;

    background-image: url("../images/svg/star.svg");
    background-repeat: space;
    background-position: left center;
    background-size: 16px 16px;
  }

  &::after {
    content: "";

    display: block;
    order: -1;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 4px;

    background-image: url("../images/svg/star-gray.svg");
    background-repeat: space;
    background-position: left center;
    background-size: 16px 16px;
  }

  &--1 {
    &::before {
      width: 16px;
    }

    &::after {
      width: 76px;
    }
  }

  &--2 {
    &::before {
      width: 36px;
    }

    &::after {
      width: 56px;
    }
  }

  &--3 {
    &::before {
      width: 56px;
    }

    &::after {
      width: 36px;
    }
  }

  &--4 {
    &::before {
      width: 76px;
    }

    &::after {
      width: 16px;
    }
  }

  &--5 {
    &::before {
      width: 76px;
    }

    &::after {
      width: 16px;

      background-image: url("../images/svg/star.svg");
    }
  }

  &--small {
    &::before {
      width: 12px;
      height: 12px;
      background-size: 12px 12px;
    }

    &::after {
      width: 12px;
      height: 12px;
      background-size: 12px 12px;
    }

    &.rating--1 {
      &::before {
        width: 28px;
      }

      &::after {
        width: 44px;
      }
    }

    &.rating--2 {
      &::before {
        width: 28px;
      }

      &::after {
        width: 44px;
      }
    }

    &.rating--3 {
      &::before {
        width: 44px;
      }

      &::after {
        width: 28px;
      }
    }

    &.rating--4 {
      &::before {
        width: 44px;
      }

      &::after {
        width: 28px;
        background-image: url("../images/svg/star.svg");
      }
    }

    &.rating--5 {
      &::before {
        width: 44px;
      }

      &::after {
        width: 28px;

        background-image: url("../images/svg/star.svg");
      }
    }
  }
}
