.tap-bar {
  position: sticky;
  bottom: 0;
  z-index: 10;

  display: none;
  justify-content: space-between;
  padding: 12px 80px;

  background-color: $color-white;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 4px 24px 0 #4141411f;

  @media (max-width: 900px) {
    display: flex;
  }

  @media (max-width: 540px) {
    padding: 12px 24px;
  }
}

.tap-bar__item {
  color: $color-placeholder;

  &--tablet {
    @media (max-width: 540px) {
      display: none;
    }
  }
}

.tap-bar__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  color: inherit;

  svg {
    margin-bottom: 4px;
  }
}

body.show-catalog {
  .tap-bar__item--catalog {
    color: $color-orange;
  }
}

body.show-menu {
  .tap-bar__item--menu {
    color: $color-orange;
  }
}
