<section class="about-company section">
  <div class="container">
    <h3 class="section-title">О компании</h3>
    <div class="about-company__wrap">
      <div
        class="about-company__video"
        style="background-image: url('./images/png/about-video.png')"
      >
        <button class="about-company__btn button-video">
          <img
            src="images/svg/video-play.svg"
            width="62"
            height="62"
            alt="video-play"
          />
        </button>
      </div>
      <div class="about-company__green">
        <div class="about-company__desctiption">
          Давайте знакомиться ближе 🤍
        </div>
        <a class="about-company__link" href="#"> Читать о компании </a>
      </div>
    </div>
  </div>
</section>
