<section class="blog section">
  <div class="container">
    <h2 class="section-title">Мы ведем профессиональный блог</h2>
    <div class="blog__list">
      <div class="blog__item">
        <div
          class="blog__image"
          style="background-image: url('images/png/blog-image1.png')"
        >
          <div class="blog__detail">
            <div>20.05.24</div>
            <a class="blog__link" href="#">Читать статью</a>
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__tag-list">
            <div class="blog__tag-item">Инструкция</div>
            <div class="blog__tag-item">Советы</div>
            <div class="blog__tag-item">История</div>
          </div>
          <h3 class="blog__title">
            Типы локальных очистных сооружений: как выбрать подходящее решение
            для вашего участка
          </h3>
          <div class="blog__description">
            Выбор септика для дачи — важная задача, от которой зависит комфорт и
            экологическая безопасность вашего загородного участка. В этом посте
            мы рассмотрим ключевые факторы, которые стоит учесть при выборе
            септика: объем, тип системы, материал изготовления, а также нюансы
            монтажа и эксплуатации. Узнайте, как сделать ваш выбор осознанным и
            избежать распространенных ошибок, чтобы ваша дача всегда оставалась
            чистым и уютным местом для отдыха!
          </div>
        </div>
      </div>

      <div class="blog__item">
        <div
          class="blog__image"
          style="background-image: url('images/png/blog-image4.png')"
        >
          <div class="blog__detail">
            <div>20.05.24</div>
            <a class="blog__link" href="#">Читать статью</a>
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__tag-list">
            <div class="blog__tag-item">Инструкция</div>
            <div class="blog__tag-item">Советы</div>
          </div>
          <h3 class="blog__title">Как правильно подплетать дредлоки самому</h3>
          <div class="blog__description">
            Выбор септика для дачи — важная задача, от которой зависит комфорт и
            экологическая безопасность вашего загородного участка. В этом посте
            мы рассмотрим ключевые факторы, которые стоит учесть при выборе
            септика: объем, тип системы, материал изготовления, а также нюансы
            монтажа и эксплуатации. Узнайте, как сделать ваш выбор осознанным и
            избежать распространенных ошибок, чтобы ваша дача всегда оставалась
            чистым и уютным местом для отдыха!
          </div>
        </div>
      </div>

      <div class="blog__item">
        <div
          class="blog__image"
          style="background-image: url('images/png/blog-image2.png')"
        >
          <div class="blog__detail">
            <div>20.05.24</div>
            <a class="blog__link" href="#">Читать статью</a>
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__tag-list">
            <div class="blog__tag-item">Советы</div>
            <div class="blog__tag-item">История</div>
          </div>
          <h3 class="blog__title">
            Плюсы и минусы использования автономных канализационных систем на
            даче
          </h3>
          <div class="blog__description">
            Выбор септика для дачи — важная задача, от которой зависит комфорт и
            экологическая безопасность вашего загородного участка. В этом посте
            мы рассмотрим ключевые факторы, которые стоит учесть при выборе
            септика: объем, тип системы, материал изготовления, а также нюансы
            монтажа и эксплуатации. Узнайте, как сделать ваш выбор осознанным и
            избежать распространенных ошибок, чтобы ваша дача всегда оставалась
            чистым и уютным местом для отдыха!
          </div>
        </div>
      </div>

      <div class="blog__item">
        <div
          class="blog__image"
          style="background-image: url('images/png/blog-image3.png')"
        >
          <div class="blog__detail">
            <div>20.05.24</div>
            <a class="blog__link" href="#">Читать статью</a>
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__tag-list">
            <div class="blog__tag-item">История</div>
            <div class="blog__tag-item">Инструкция</div>
          </div>
          <h3 class="blog__title">
            Монтаж и обслуживание локальных очистных сооружений: что нужно знать
          </h3>
          <div class="blog__description">
            Выбор септика для дачи — важная задача, от которой зависит комфорт и
            экологическая безопасность вашего загородного участка. В этом посте
            мы рассмотрим ключевые факторы, которые стоит учесть при выборе
            септика: объем, тип системы, материал изготовления, а также нюансы
            монтажа и эксплуатации. Узнайте, как сделать ваш выбор осознанным и
            избежать распространенных ошибок, чтобы ваша дача всегда оставалась
            чистым и уютным местом для отдыха!
          </div>
        </div>
      </div>

      <div class="blog__item blog__item--green">
        <div class="blog__more">
          Читайте больше полезной информации в&nbsp;нашем блоге
        </div>
        <a class="blog__more-link"> Смотреть все статьи </a>
      </div>
    </div>
  </div>
</section>
