<section class="completed-objects section">
  <div class="container">
    <h2 class="section-title">Последние выполненные объекты</h2>
    <div class="completed-objects__list">
      <div class="completed-objects__item">
        <div
          class="completed-objects__image"
          style="background-image: url('images/png/completed-object1.png');"
        >
          <div class="completed-objects__image-details">
            <div>Загородный дом в Подмосковье, <span class="completed-objects__date">03.05.24</span></div>
            <a class="completed-objects__link" href="#">Подробнее</a>
          </div>
        </div>
        <h3 class="completed-objects__title">Установка септика в коттедж</h3>
        <p class="completed-objects__info">Клиенту требовалась автономная канализация для проживания</p>
        <h4 class="completed-objects__sub">Что было сделано:</h4>
        <ul class="completed-objects__data">
          <li class="completed-objects__data-item">исследование грунта и уровня грунтовых вод</li>
          <li class="completed-objects__data-item">выявление особенностей участка и согласование с клиентом</li>
        </ul>
      </div>

      <div class="completed-objects__item">
        <div
          class="completed-objects__image"
          style="background-image: url('images/png/completed-object2.png');"
        >
          <div class="completed-objects__image-details">
            <div>Загородный дом в Подмосковье, 03.05.24</div>
            <a class="completed-objects__link" href="#">Подробнее</a>
          </div>
        </div>
        <h3 class="completed-objects__title">Установка септика в коттедж</h3>
        <p class="completed-objects__info">Клиенту требовалась автономная канализация для проживания</p>
        <h4 class="completed-objects__sub">Что было сделано:</h4>
        <ul class="completed-objects__data">
          <li class="completed-objects__data-item">исследование грунта и уровня грунтовых вод</li>
          <li class="completed-objects__data-item">выявление особенностей участка и согласование с клиентом</li>
        </ul>
      </div>

      <div class="completed-objects__item">
        <div
          class="completed-objects__image"
          style="background-image: url('images/png/completed-object3.png');"
        >
          <div class="completed-objects__image-details">
            <div>Загородный дом в Подмосковье, 03.05.24</div>
            <a class="completed-objects__link" href="#">Подробнее</a>
          </div>
        </div>
        <h3 class="completed-objects__title">Установка септика в коттедж</h3>
        <p class="completed-objects__info">Клиенту требовалась автономная канализация для проживания</p>
        <h4 class="completed-objects__sub">Что было сделано:</h4>
        <ul class="completed-objects__data">
          <li class="completed-objects__data-item">исследование грунта и уровня грунтовых вод</li>
          <li class="completed-objects__data-item">выявление особенностей участка и согласование с клиентом</li>
        </ul>
      </div>

      <div class="completed-objects__item completed-objects__item--green">
        <h3 class="completed-objects__title">Вы можете ознакомиться с другими проектами в нашем портфолио</h3>
        <a class="completed-objects__link" href="#">Перейти к другим работам</a>
      </div>
    </div>
  </div>
</section>
