<section class="installation section container">
  <h2 class="section-title">Как проходит монтаж очистных сооружений</h2>
  <div class="installation__list">
    <div class="installation__item installation__item--img" style="background-image: url('./images/png/installation.png');">
      <div class="installation__num">01</div>
      <h3 class="installation__title">Консультация и обследование участка</h3>
      <p class="installation__info">обсуждение потребностей клиента и&nbsp;характеристик участка, определение типа грунта и&nbsp;уровня грунтовых вод</p>
    </div>
    <div class="installation__item hover-scale">
      <div class="installation__num">02</div>
      <h3 class="installation__title">Проектирование системы</h3>
      <p class="installation__info">разработка проекта с учетом специфики участка и требований клиента, подбор оборудования и составление сметы</p>
    </div>
    <div class="installation__item hover-scale">
      <div class="installation__num">03</div>
      <h3 class="installation__title">Подготовка котлована</h3>
      <p class="installation__info">разметка места для котлована, земляные работы: земляные работы и&nbsp;выемка грунта</p>
    </div>
    <div class="installation__item hover-scale">
      <div class="installation__num">04</div>
      <h3 class="installation__title">Устройство подушки из&nbsp;песка и&nbsp;щебня</h3>
      <p class="installation__info">укладка песчаной и&nbsp;щебневой подушки на&nbsp;дне котлована для лучшей дренажной функции</p>
    </div>
    <div class="installation__item hover-scale">
      <div class="installation__num">05</div>
      <h3 class="installation__title">Монтаж септика</h3>
      <p class="installation__info">установка корпуса септика в&nbsp;подготовленный котлован, подключение входной и&nbsp;выходной труб к&nbsp;септику</p>
    </div>
    <div class="installation__item hover-scale">
      <div class="installation__num">06</div>
      <h3 class="installation__title">Подсоединение системы к&nbsp;дому</h3>
      <p class="installation__info">прокладка трубопроводов от&nbsp;дома к&nbsp;септику, подключение системы к&nbsp;внутреннему каналу</p>
    </div>

    <a class="installation__item installation__item--icon installation__item--orange" href="#">
      <span class="installation__link">Расчитать септик онлайн</span>
    </a>
    <a class="installation__item installation__item--icon installation__item--green" href="#">
      <span class="installation__link">Посмотреть пример сметы</span>
    </a>
  </div>
</section>
