<div
  class="index-lead"
  style="
    background-image: linear-gradient(
        79.3deg,
        rgba(85, 123, 48, 0.5) 38.69%,
        rgba(201, 214, 186, 0.5) 89.73%
      ),
      url(./images/png/background-header.png);
  "
>
  <include src="./src/templates/header.html"></include>

  <div class="header-lead container">
    <div class="header-lead__left">
      <h1 class="header-lead__title">
        Продажа и&nbsp;монтаж септиков в&nbsp;Москве
      </h1>
      <p class="header-lead__subtitle">
        Комплекс Септик + монтаж для дома и&nbsp;дачи
        <b>со&nbsp;скидкой&nbsp;20%</b> при заказе с&nbsp;сайта!
      </p>

      <div class="header-lead__columns">
        <div class="header-lead__item">
          <p class="header-lead__value">1800+</p>
          <p class="header-lead__text">септиков установлено</p>
        </div>
        <div class="header-lead__item">
          <p class="header-lead__value">830+</p>
          <p class="header-lead__text">довольных клиентов</p>
        </div>
        <div class="header-lead__item">
          <p class="header-lead__value">10+</p>
          <p class="header-lead__text">лет лидеры рынка</p>
        </div>
      </div>
      <button class="button button--orange">Заказать септик со скидкой</button>
    </div>
    <div class="header-lead__right">
      <div
        class="card card--main"
        style="
          background-image: url('./images/png/card-septik.png');
        "
      >
        <div class="card__title">Септики</div>
        <div class="card__description">
          <span>
            Гарантия качества и&nbsp;оперативная установка за&nbsp;36&nbsp;часов!
          </span>
        </div>
      </div>
      <div class="card card--little">Автономные канализации</div>
      <div class="card card--little">Станции биоочистки</div>
      <div class="card card--little">Локальные очистные сооружения</div>
    </div>
  </div>
</div>
