<section class="order-call container section">
  <div class="order-call__wrap" style="background-image: url('./images/png/house.png');">
    <form class="order-call__data" action="#">
      <h2 class="section-title">
        Рассчитать септик <span class="orange-text">за 5 минут!</span>
      </h2>
      <p class="order-call__info">Наш менеджер свяжется с вами в ближайшее время</p>
      <input type="text" class="search-input" placeholder="Ваше имя" />
      <input type="text" class="search-input" placeholder="Номер телефона" />
      <button class="button button--orange">Заказать звонок</button>
      <p class="order-call__personal">
        Нажимая кнопку «Заказать звонок», вы подтверждаете свое согласие на
        обработку <a href="#">персональных данных</span>
      </p>
    </form>
  </div>
</section>
