<section class="reasons section container">
  <h2 class="section-title">
    Почему клиенты выбирают <span class="green-text">Эра</span><span class="orange-text">Септик</span>
  </h2>
  <div class="reasons__examples">
    <div class="reasons__lead">
      <span>Почему мы<br> являемся <u>лидерами</u> на рынке?</span>
    </div>

    <div class="reasons__list">
      <div class="reasons__item hover-scale">
        <div class="reasons__num">
          01
        </div>
        <div class="reasons__text">
          <b>Ведем полный цикл</b> от производства до установки, обеспечивая <b>полный контроль качества</b>
        </div>
      </div>

      <div class="reasons__item hover-scale">
        <div class="reasons__num">
          02
        </div>
        <div class="reasons__text">
          <b>Адаптируем решения</b> под вашу ситуацию, мы работаем индивидуально с каждым клиентом
        </div>
      </div>

      <div class="reasons__item hover-scale">
        <div class="reasons__num">
          03
        </div>
        <div class="reasons__text">
          <b>Все этапы решаются</b> оперативно благодаря отсутствию посредников
        </div>
      </div>

      <div class="reasons__item hover-scale">
        <div class="reasons__num">
          04
        </div>
        <div class="reasons__text">
          <b>Поможем сэкономить ваш бюджет</b> за счет собственного производства
        </div>
      </div>
    </div>
  </div>
</section>
