<section class="reviews container section">
  <div class="reviews__wrap reviews__swiper">
    <div class="reviews__top">
      <h2 class="section-title">Что говорят наши клиенты</h2>
      <div class="reviews__btns">
        <button class="reviews__btn reviews__btn--prev" type="button"></button>
        <button class="reviews__btn reviews__btn--next" type="button"></button>
      </div>
    </div>
    <div class="reviews__list swiper-wrapper">
      <div class="reviews__item reviews__item--video swiper-slide">
        <img
          class="reviews__poster-img"
          src="./images/png/review-video.png"
          width="400"
          height="300"
          alt="Review video poster"
        />
        <button class="reviews__item-btn button-video">
          <img
            src="images/svg/video-play.svg"
            width="62"
            height="62"
            alt="video-play"
          />
        </button>
        <div class="reviews__value">
          <div class="reviews__date">06.06.23</div>
          <div class="reviews__rating rating rating--small rating--3">4/5</div>
        </div>
        <div class="reviews__author">
          <div class="reviews__author-name">Анатолий Матвеевич</div>
          <div class="reviews__author-city">г. Одинцово</div>
        </div>
      </div>

      <div class="reviews__item swiper-slide">
        <div class="reviews__author reviews__author--with-icon">
          <div class="reviews__author-icon">А</div>
          <div class="reviews__author-name">Анатолий Матвеевич</div>
          <div class="reviews__author-city">г. Одинцово</div>
        </div>
        <h3 class="reviews__name">Монтаж септиков</h3>
        <div class="reviews__message">
          В своем новом доме не хотелось пользоваться выгребной ямой. Тем более
          что после посещения ассенизаторов остается неприятный запах. Искали и
          приобрели автономную канализацию ЭРА. Доступные цены и качественный
          монтаж в короткие сроки. После его установки недолгое время
          присматривался, а потом забыл на два года пока не пришло время
          обслуживать. Порекомендовали систему ЭРА соседям. Они поступили мудро
          и оборудовали сразу три дома одной системой. Рекомнедую!!!
        </div>
        <div class="reviews__value">
          <div class="reviews__date">06.06.23</div>
          <div class="reviews__rating rating rating--4">4/5</div>
        </div>
      </div>

      <div class="reviews__item swiper-slide">
        <div class="reviews__author reviews__author--with-icon">
          <div class="reviews__author-icon">Е</div>
          <div class="reviews__author-name">Евгения</div>
          <div class="reviews__author-city">г. Подольск</div>
        </div>
        <h3 class="reviews__name">Монтаж септиков</h3>
        <div class="reviews__message">
          В своем новом доме не хотелось пользоваться выгребной ямой. Тем более
          что после посещения ассенизаторов остается неприятный запах. Искали и
          приобрели автономную канализацию ЭРА. Доступные цены и качественный
          монтаж в короткие сроки. После его установки недолгое время
          присматривался, а потом забыл на два года пока не пришло время
          обслуживать. Порекомендовали систему ЭРА соседям. Они поступили мудро
          и оборудовали сразу три дома одной системой. Рекомнедую!!!
        </div>
        <div class="reviews__value">
          <div class="reviews__date">06.06.23</div>
          <div class="reviews__rating rating rating--4">4/5</div>
        </div>
      </div>

      <div class="reviews__item swiper-slide">
        <div class="reviews__author reviews__author--with-icon">
          <div class="reviews__author-icon">А</div>
          <div class="reviews__author-name">Анатолий Матвеевич</div>
          <div class="reviews__author-city">г. Одинцово</div>
        </div>
        <h3 class="reviews__name">Монтаж септиков</h3>
        <div class="reviews__message">
          В своем новом доме не хотелось пользоваться выгребной ямой. Тем более
          что после посещения ассенизаторов остается неприятный запах. Искали и
          приобрели автономную канализацию ЭРА. Доступные цены и качественный
          монтаж в короткие сроки. После его установки недолгое время
          присматривался, а потом забыл на два года пока не пришло время
          обслуживать. Порекомендовали систему ЭРА соседям. Они поступили мудро
          и оборудовали сразу три дома одной системой. Рекомнедую!!!
        </div>
        <div class="reviews__value">
          <div class="reviews__date">06.06.23</div>
          <div class="reviews__rating rating rating--4">4/5</div>
        </div>
      </div>

      <div class="reviews__item swiper-slide">
        <div class="reviews__author reviews__author--with-icon">
          <div class="reviews__author-icon">Е</div>
          <div class="reviews__author-name">Евгения</div>
          <div class="reviews__author-city">г. Подольск</div>
        </div>
        <h3 class="reviews__name">Монтаж септиков</h3>
        <div class="reviews__message">
          В своем новом доме не хотелось пользоваться выгребной ямой. Тем более
          что после посещения ассенизаторов остается неприятный запах. Искали и
          приобрели автономную канализацию ЭРА. Доступные цены и качественный
          монтаж в короткие сроки. После его установки недолгое время
          присматривался, а потом забыл на два года пока не пришло время
          обслуживать. Порекомендовали систему ЭРА соседям. Они поступили мудро
          и оборудовали сразу три дома одной системой. Рекомнедую!!!
        </div>
        <div class="reviews__value">
          <div class="reviews__date">06.06.23</div>
          <div class="reviews__rating rating rating--4">4/5</div>
        </div>
      </div>
    </div>
  </div>
</section>
