<section class="sale section container">
  <h2 class="section-title">Продажа септиков</h2>
  <div class="sale__wrap">
    <h3 class="sale__wrap-title">Популярные товары</h3>
    <div class="sale__products">
      <div class="product">
        <div class="product__image">
          <img
            src="./images/png/product.png"
            width="336"
            height="340"
            alt="product"
          />
        </div>
        <div class="product__data">
          <div class="product__rating rating rating--4">4/5</div>
          <div class="product__info">
            <h4 class="product__title">Септик ЭРА 4 прин</h4>
            <p class="product__text">Решение для небольших дачных домов</p>
          </div>
          <div class="product__info">
            <p class="product__text">Пользователей: <span>1-3 чел</span></p>
            <p class="product__text">Производительность: <span>0.5м2</span></p>
            <p class="product__text">Сброс: <span>150 литров</span></p>
            <p class="product__text">Питание: <span>не нужно</span></p>
          </div>
          <div class="product__price">77 000 ₽</div>
          <div class="product__btns">
            <button class="button button--orange">Купить</button>
            <button class="button button--outline">Купить с установкой</button>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__image">
          <img
            src="./images/png/product.png"
            width="336"
            height="340"
            alt="product"
          />
        </div>
        <div class="product__data">
          <div class="product__rating rating rating--4">4/5</div>
          <div class="product__info">
            <h4 class="product__title">Септик ЭРА 4 прин</h4>
            <p class="product__text">Решение для небольших дачных домов</p>
          </div>
          <div class="product__info">
            <p class="product__text">Пользователей: <span>1-3 чел</span></p>
            <p class="product__text">Производительность: <span>0.5м2</span></p>
            <p class="product__text">Сброс: <span>150 литров</span></p>
            <p class="product__text">Питание: <span>не нужно</span></p>
          </div>
          <div class="product__price">77 000 ₽</div>
          <div class="product__btns">
            <button class="button button--orange">Купить</button>
            <button class="button button--outline">Купить с установкой</button>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__image">
          <img
            src="./images/png/product.png"
            width="336"
            height="340"
            alt="product"
          />
        </div>
        <div class="product__data">
          <div class="product__rating rating rating--4">4/5</div>
          <div class="product__info">
            <h4 class="product__title">Септик ЭРА 4 прин</h4>
            <p class="product__text">Решение для небольших дачных домов</p>
          </div>
          <div class="product__info">
            <p class="product__text">Пользователей: <span>1-3 чел</span></p>
            <p class="product__text">Производительность: <span>0.5м2</span></p>
            <p class="product__text">Сброс: <span>150 литров</span></p>
            <p class="product__text">Питание: <span>не нужно</span></p>
          </div>
          <div class="product__price">77 000 ₽</div>
          <div class="product__btns">
            <button class="button button--orange">Купить</button>
            <button class="button button--outline">Купить с установкой</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sale__wrap">
    <h3 class="sale__wrap-title">Категории товаров</h3>
    <div class="sale__list">
      <a class="sale__item" href="/">Септики</a>
      <a class="sale__item" href="/">Автономные канализации</a>
      <a class="sale__item" href="/">Станции биоочистки</a>
      <a class="sale__item" href="/">Локальные очистные сооружения</a>
      <a class="sale__item sale__item--green" href="/">
        <span>У нас <u>собственное</u> производство</span>
        <span class="sale__item-action">К каталогу</span>
      </a>
    </div>
  </div>
</section>
