<section class="services container section">
  <h2 class="section-title">Мы предлагаем следующие услуги</h2>
  <div class="services__list">
    <div class="services__item">
      <h3 class="services__name">Монтаж септика под ключ</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Монтаж септика для дома</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Монтаж септика для дачи</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Монтаж септика для бани</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Монтаж ЛОС</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Септик для коттеджа</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Монтаж септика для кухни</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <div class="services__item">
      <h3 class="services__name">Автономные канализации</h3>
      <p class="services__info">Полный монтаж септика под ключ, быстро и&nbsp;надежно.</p>
      <div class="services__data">
        <span class="services__price">от 77 000 ₽</span>
        <span class="services__time">(от 36 часов)</span>
      </div>
    </div>
    <a class="services__item services__item--green" href="#">
      <span class="services__link">Все услуги</span>
    </a>
  </div>
</section>
