<section class="stages section container">
  <h2 class="section-title">Этапы работы с клиентами</h2>
  <div class="stages__list">
    <div class="stages__item stages__item--message hover-scale">
      <h3 class="stages__title">Связь с менеджером</h3>
      <p>После того, как мы получим заявку, наш менеджер свяжется с вами</p>
    </div>
    <div class="stages__item stages__item--phone hover-scale">
      <h3 class="stages__title">Первичная консультация</h3>
      <p>Менеджер обсудить с вами детали проекта, расскажет о ценах и акциях</p>
    </div>
    <div class="stages__item stages__item--people hover-scale">
      <h3 class="stages__title">Выезд на замеры</h3>
      <p>Наш мастер проведет все замеры, ответит на все интересующие вопросы</p>
    </div>
    <div class="stages__item stages__item--bag hover-scale">
      <h3 class="stages__title">Подготовка сметы</h3>
      <p>После замеров мы подготовим смету и ответим на все интересующие вопросы</p>
    </div>
    <div class="stages__item stages__item--settings hover-scale">
      <h3 class="stages__title">Монтаж</h3>
      <p>Менеджер обсудить с вами детали проекта, расскажет о ценах и акциях</p>
    </div>
    <div class="stages__item stages__item--book hover-scale">
      <h3 class="stages__title">Обучение</h3>
      <p>После монтажа поможем вам правильно использовать септик</p>
    </div>
  </div>
</section>
