$color-white: #ffffff;
$color-dark: #3d3d3d;
$color-dark-text: #333333;
$color-light-gray: #f5f5f5;
$color-gray: #e0e0e0;
$color-placeholder: #939393;
$color-green: #097359;
$color-orange: #ff7f23;
$color-light-orange: #ff8a35;
$color-star: #ffd700;
$gray-meduim: #e2e2e2;
$black: #3d3d3d;
