<div class="catalog-overflow js-overflow"></div>
<div class="catalog">
  <div class="catalog__top">
    <div class="catalog__top-name">Каталог</div>
    <button class="catalog__top-btn button button--green button--outline js-close-catalog">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
      </svg>
    </button>
  </div>

  <div class="catalog__list">
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-1.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Септики</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>

    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-1.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Автономная канализация</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>

    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-1.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Станции биологической очистки</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-1.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Локальные очистные сооружения</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-1.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Септики по количеству человек</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-2.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Жироуловители</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-3.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Кессоны</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
    <div class="catalog__item js-catalog-item">
      <img
        src="./images/jpg/catalog-4.jpg"
        width="60"
        height="70"
        alt="Септики"
      />
      <span class="catalog__item-name">Комплектующие</span>
      <div class="catalog__inner-wrap">
        <div class="catalog__top">
          <button class="catalog__top-btn button button--green button--outline js-back-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.488 11H4.655m4.167-5L4.41 10.41a.833.833 0 0 0 0 1.18L8.82 16" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
          <div class="catalog__top-name">Септики</div>
          <button class="catalog__top-btn button button--green button--outline js-close-catalog">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6L14.4853 14.4853M6 14.4853L14.4853 6.00001" stroke="#3D3D3D" stroke-width="1.67" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
        <include src="./src/templates/catalog-inner.html"></include>
      </div>
    </div>
  </div>
</div>
