<div class="catalog__inner">
  <a href="#" class="catalog__link">Все товары</a>
  <a href="#" class="catalog__link">Для дома</a>
  <a href="#" class="catalog__link">Для дачи</a>
  <a href="#" class="catalog__link">Для коттеджа</a>
  <a href="#" class="catalog__link">Для частного дома</a>
  <a href="#" class="catalog__link">Для загородного дома</a>
  <a href="#" class="catalog__link">Для непостоянного проживания</a>
  <a href="#" class="catalog__link">Для постоянного проживания</a>
  <a href="#" class="catalog__link">Автономный септик для дачи</a>
  <a href="#" class="catalog__link">Автономный септик для частного дома</a>
  <a href="#" class="catalog__link">Накопительный септик</a>
  <a href="#" class="catalog__link">Септик без откачки</a>
  <a href="#" class="catalog__link">Энергозависимый септик для дачи</a>
  <a href="#" class="catalog__link">Анаэробный септик</a>
  <a href="#" class="catalog__link">Аэробный септик</a>
  <a href="#" class="catalog__link">Для бани</a>
  <a href="#" class="catalog__link">Для высоких грунтовых вод</a>
  <a href="#" class="catalog__link">Автономные</a>
</div>
