<section class="consultation container">
  <h2 class="consultation__title">Нужна консультация?</h2>
  <form action="#" class="consultation__form">
    <input type="text" class="search-input" placeholder="Ваше имя" />
    <input type="tel" class="search-input" placeholder="Номер телефона" />
    <button class="button button--orange">Получить консультацию</button>
  </form>
  <div class="consultation__info">
    Нажимая кнопку «Получить консультацию», вы соглашаетесь с <a href="#" class="consultation__info--link"><u>условиями
      конфиденциальности</u></a>
  </div>
</section>