<footer class="footer footer section" class="hide-on-744">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top-item">
        <button class="footer__btn js-footer-btn">
          Услуги
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.28 4.47a.75.75 0 0 1 0 1.06L6.53 9.28a.75.75 0 0 1-1.06 0L1.72 5.53a.75.75 0 0 1 1.06-1.06L6 7.69l3.22-3.22a.75.75 0 0 1 1.06 0Z" fill="currentColor"/></svg>
        </button>
        <ul class="footer__list js-footer-list">
          <li class="footer__list-item">
            <a href="#">Монтаж септиков</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Монтаж ЛОС</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Монтаж атономных канализаций</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Сервисное обслуживание септиков</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Сервисное обслуживание ЛОС</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Обслуживание автономных канализаций</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Чистка септиков</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Откачка септиков</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Косервация септиков</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Консервация ЛОС</a>
          </li>
        </ul>
      </div>
      <div class="footer__top-item">
        <button class="footer__btn js-footer-btn">
          Полезная информация
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.28 4.47a.75.75 0 0 1 0 1.06L6.53 9.28a.75.75 0 0 1-1.06 0L1.72 5.53a.75.75 0 0 1 1.06-1.06L6 7.69l3.22-3.22a.75.75 0 0 1 1.06 0Z" fill="currentColor"/></svg>
        </button>
        <ul class="footer__list js-footer-list">
          <li class="footer__list-item">
            <a href="#">ГОСТы по септикам</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Глоссарий терминов</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Принцип работы жиро-улолвителей</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Кессон принцип работы</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Принцип работы септиков Эра</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Септик ЭРА-КНС</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Септик ЭРА-ПЦ</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Септик ЭРА-ГВ</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Материалы</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Технология</a>
          </li>
        </ul>
      </div>
      <div class="footer__top-item">
        <button class="footer__btn js-footer-btn">
          Покупателям
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.28 4.47a.75.75 0 0 1 0 1.06L6.53 9.28a.75.75 0 0 1-1.06 0L1.72 5.53a.75.75 0 0 1 1.06-1.06L6 7.69l3.22-3.22a.75.75 0 0 1 1.06 0Z" fill="currentColor"/></svg>
        </button>
        <ul class="footer__list js-footer-list">
          <li class="footer__list-item">
            <a href="delivery.html">Условия доставки</a>
          </li>
          <li class="footer__list-item">
            <a href="refund.html">Условия возврата</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Способы оплаты</a>
          </li>
          <li class="footer__list-item">
            <a href="how-place-order.html">Как оформить заказ</a>
          </li>
          <li class="footer__list-item">
            <a href="support-center.html">Центр поддержки</a>
          </li>
          <li class="footer__list-item">
            <a href="guarantee.html">Гарантия</a>
          </li>
          <li class="footer__list-item">
            <a href="certificates.html">Сертификаты</a>
          </li>
          <li class="footer__list-item">
            <a href="awards.html">Награды</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Отзывы</a>
          </li>
          <li class="footer__list-item">
            <a href="partners.html">Партнеры</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="footer__top-item">
          <button class="footer__btn js-footer-btn">
            Интересное
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.28 4.47a.75.75 0 0 1 0 1.06L6.53 9.28a.75.75 0 0 1-1.06 0L1.72 5.53a.75.75 0 0 1 1.06-1.06L6 7.69l3.22-3.22a.75.75 0 0 1 1.06 0Z" fill="currentColor"/></svg>
          </button>
          <ul class="footer__list js-footer-list">
            <li class="footer__list-item">
              <a href="#">Блог про септики</a>
            </li>
            <li class="footer__list-item">
              <a href="#">Портфолио проектов</a>
            </li>
          </ul>
        </div>
        <button class="footer__btn js-footer-btn">
          Документация
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.28 4.47a.75.75 0 0 1 0 1.06L6.53 9.28a.75.75 0 0 1-1.06 0L1.72 5.53a.75.75 0 0 1 1.06-1.06L6 7.69l3.22-3.22a.75.75 0 0 1 1.06 0Z" fill="currentColor"/></svg>
        </button>
        <ul class="footer__list js-footer-list">
          <li class="footer__list-item">
            <a href="agreement.html">Договора</a>
          </li>
          <li class="footer__list-item">
            <a href="legal-data.html">Реквизиты</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Политика конфиденциальности</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Пользовательское соглашение</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__logo" href="#">
        <img src="images/svg/logo.svg" width="178" height="82" alt="logo" />
      </a>
      <div class="footer__bottom-item">
        <div class="footer__bottom-name">Адрес</div>
        <p>
          Россия 121596 Москва<br />
          ул. Горбунова 6к2с8
        </p>
      </div>
      <div class="footer__bottom-item">
        <div class="footer__bottom-name">Телефон и почта</div>
        <p>
          +7 (495) 669-99-24<br />
          info@eraseptik.ru
        </p>
      </div>
      <div class="footer__bottom-item">
        <div class="footer__bottom-name">Реквизиты</div>
        <p>
          ОГРН 1165030050602<br />
          ИНН 5030088192
        </p>
      </div>
      <div class="footer__bottom-item">
        <div class="footer__bottom-name">Соцсети</div>
        <div class="footer__social">
          <a href="#">
            <img width="46" height="46" src="images/svg/vk-social.svg" alt="vk" />
          </a>
          <a href="#">
            <img width="46" height="42" src="images/svg/whatsap-social.svg" alt="whatsap" />
          </a>
          <a href="#">
            <img width="46" height="46" src="images/svg/youtube-social.svg" alt="youtube" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
