.about-company {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    height: 246px;

    background-color: $color-light-gray;
    border-radius: 60px 60px 0 0;

    @media (max-width: 1024) {
      border-radius: 40px 40px 0 0;
    }

    @media (max-width: 540) {
      border-radius: 24px 24px 0 0;
    }
  }
}

.about-company__wrap {
  display: grid;
  min-height: 460px;

  column-gap: 32px;

  grid-template-columns: minmax(0, 1fr) 300px;

  @media (max-width: 1024) {
    min-height: 380px;
  }

  @media (max-width: 744) {
    min-height: auto;

    grid-template-columns: auto;
    grid-auto-flow: row;
    row-gap: 12px;
  }
}

.about-company__video {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  border-radius: 24px;

  @media (max-width: 744) {
    min-height: 380px;
  }

  @media (max-width: 540) {
    min-height: 320px;
  }

  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, 0.28);
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: inherit;

    transition: background-color 0.3s ease-in;
  }
}

.about-company__green {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px;
  overflow: hidden;

  color: $color-white;

  background-color: $color-green;
  border-radius: 24px;

  @media (max-width: 744) {
    justify-content: space-between;
    min-height: 180px;
  }

  @media (max-width: 540) {
    justify-content: space-between;
    min-height: 192px;
  }

  &:hover {
    &::after {
      transform: translateX(0);

      @media (max-width: 744) {
        transform: rotateY(180deg) translateX(0);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 55px;
    left: 0;

    width: 196px;
    height: 171px;

    background-image: url("../images/svg/hand.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-70px);

    transition: transform 0.4s ease-in-out;

    @media (max-width: 1024) {
      top: 25px;
    }

    @media (max-width: 744) {
      top: 10px;
      right: -10px;
      left: auto;

      transform: rotateY(180deg) translateX(-90px);
    }

    @media (max-width: 540px) {
      top: 50px;
      right: -10px;

      width: 140px;
      height: 109px;

      transform: rotateY(180deg) translateX(0);
    }
  }
}

.about-company__desctiption {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;

  @media (max-width: 540px) {
    padding-right: 90px;

    font-size: 20px;
  }
}

.about-company__link {
  font-weight: 700;
  font-size: 20px;

  &::after {
    content: "";
    position: relative;
    top: 6px;

    display: inline-block;
    width: 20px;
    height: 22px;
    margin-left: 5px;

    background-image: url("../images/svg/arrow-category.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1024px) {
      top: 4px;

      width: 14px;
      height: 16px;
    }
  }
}
