.completed-objects {
  background-color: $color-light-gray;
  border-radius: 60px;

  @media (max-width: 540) {
    padding-top: 20px;

    border-radius: 24px;
  }
}

.completed-objects__list {
  display: grid;

  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 52px 60px;

  @media (max-width: 1024) {
    gap: 44px 32px;
  }

  @media (max-width: 744) {
    grid-auto-flow: row;
    row-gap: 65px;
    grid-template-columns: auto;
  }

  @media (max-width: 540) {
    row-gap: 40px;
  }
}

.completed-objects__item {
  box-sizing: border-box;

  &:hover {
    .completed-objects__image {
      &::before {
        opacity: 1;
      }

      .completed-objects__image-details {
        opacity: 1;
      }
    }

    .completed-objects__title {
      color: $color-orange;
    }
  }

  &--green {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    min-height: 280px;
    padding: 28px;
    overflow: hidden;

    color: $color-white;

    background-color: $color-green;
    border-radius: 24px;

    @media (max-width: 540) {
      min-height: 192px;
      padding: 24px;
    }

    &:hover {
      &::after {
        transform: rotate(0) translate(0, 0);
      }

      .completed-objects__title {
        color: inherit;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 227px;
      height: 185px;

      background-image: url("../images/svg/blocknote.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
      transform: rotate(15deg) translate(70px, 50px);

      transition: transform 0.5s ease-in-out;

      pointer-events: none;

      @media (max-width: 540px) {
        content: none;
      }
    }

    .completed-objects__link {
      position: relative;
      z-index: 1;

      font-size: 20px;

      @media (max-width: 1024) {
        font-size: 16px;
      }

      @media (max-width: 540) {
        display: block;
      }

      &::after {
        top: 5px;

        height: 20px;

        @media (max-width: 1024) {
          top: 2px;

          height: 14px;
        }
      }
    }
  }
}

.completed-objects__image {
  position: relative;

  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: 280px;
  margin-bottom: 20px;
  padding: 32px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 24px;

  @media (max-width: 540) {
    margin-bottom: 12px;
    padding: 20px;

    border-radius: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: inherit;
    opacity: 0;

    transition: opacity $transition-speed ease-out;

    @media (max-width: 540) {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
      opacity: 1;
    }
  }
}

.completed-objects__image-details {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: $color-white;

  opacity: 0;

  transition: opacity $transition-speed ease-out;

  @media (max-width: 540) {
    opacity: 1;
  }
}

.completed-objects__link {
  font-weight: 700;

  @media (max-width: 540) {
    display: none;
  }

  &::after {
    content: "";
    position: relative;
    top: 2px;

    display: inline-block;
    width: 20px;
    height: 14px;
    margin-left: 8px;

    background-image: url("../images/svg/arrow-category.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1024px) {
      width: 14px;
      height: 16px;
    }
  }
}

.completed-objects__title {
  margin-bottom: 8;

  font-size: 24px;

  transition: color $transition-speed ease-out;

  @media (max-width: 540) {
    font-size: 20px;
  }
}

.completed-objects__info {
  margin-bottom: 16px;

  line-height: 1.3em;
}

.completed-objects__sub {
  margin-bottom: 8px;

  line-height: 1.3em;
  color: $color-placeholder;

  @media (max-width: 540) {
    margin-bottom: 10px;
  }
}

.completed-objects__data {
  max-height: 2.6em;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
  color: $color-placeholder;
}

.completed-objects__data-item {
  line-height: 1.3;

  &::before {
    content: "-";

    display: inline-block;
    margin-right: 3px;
  }
}

.completed-objects__date {
  @media (max-width: 540) {
    display: block;
  }
}
